h1 {
font-family: 'Varela Round', 'Arial Black', serif;
font-weight: normal;
color: #6A94CC;
font-size: 36px;
margin: 0;
}
h2 {
font-family: 'Varela Round', 'Arial Black', serif;
font-weight: normal;
color: #000000;
font-size: 18px;
margin: 0;
}
body {
	width: 80%;
	padding: 20px;
	margin: 0 auto;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
	background-color: #E1EDEB;
}
p {
	font-family: 'helvectica', 'Arial', serif;
	margin:20px;
}
.redbodycopy {
	color: red;
	margin: 50px;
	background-color: yellow;
}
.largefont {
	color: blue;
	font-size: 30px;
	background-color: yellow;